@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    font-family: 'Silkscreen', cursive;
    background-color: #98A8F8;
}

span {
    font-family: 'Silkscreen', cursive;
}

button {
    background-color: #98A8F8;
    font-family: 'Silkscreen', cursive;
    border-radius: 10px;
    
}

input {
    display: none;
}

input:checked+label {
    background-color: #BCCEF8;
}

.tarjeta-jugador:hover{
background-color: #BCCEF8;
}
button:hover{
    background-color: #BCCEF8;
}

#section-seleccionar-jugador {
    display: flex;

    /* tiene en cuenta tanto el eje principal como el eje transversal */
    flex-flow: column;

    align-items: center;
    text-align: center;
}

.tarjetas-jugadores {
    display: flex;

    /* agrega espaciados entre las tarjetas  */
    gap: 10px;
}

#boton-seleccionar-jugador {
    border-radius: 10px;
}

.tarjetas {
    display: flex;
    flex-direction: row;
}

.tarjeta-jugador {
    width: 280px;
    height: 100px;

    /*distribuye de manera equivalente los pixels para que cumpla los pixels tanto de anchura como altura*/
    box-sizing: border-box;

    background-color: #B1AFFF;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-jugador img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    align-items: flex-start
}

.boton-seleccionar-jugador {
    display: flex;
    padding: 5px;
    margin: 10px;
    /* border: 1px solid black;
    box-sizing: border-box; */
}

#section-dashboard {
    /* en index.js esta establecido style.display = flex */
    flex-direction: column;
    align-items: center;
}

.contenedor-flex-center {
    display: flex;
    gap: 15px;
    text-align: center;
}

#section-seleccionar-ataque {
    /* en index.js esta establecido style.display = flex */
    flex-direction: column;
    align-items: center;
}

#section-mensajes-sistema {
    flex-direction: column;
    align-items: center;
}

#section-control {
    flex-direction: column;
    align-items: center;
}

/* diseno responsivo */
@media (max-width: 360px) {
    .contenedor-flex-center {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}